html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #979797;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500000;
}

.title {
    color: black;
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
    text-align: center;
}

.title > a, .title > a:hover, .title > a:visited {
    color: inherit;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.wrapper {
    background-color: white;
    margin: 80px 5% 60px 5%;
    padding: 20px 5% 20px 5%;
    min-height: -webkit-calc(100vh - 20px - 20px - 60px - 80px);
}

.nav {
    width: auto;
    height: 30px;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    height: 30px;
    width: auto;
    font-size: 0.9rem;
}

.breadcrumbs > li {
    text-align: center;
    line-height: 30px;
    list-style-type: none;
    display: inline-block;
}

.breadcrumbs > li::after {
    content: '>';
    padding: 0 10px;
}

.breadcrumbs > li:last-child::after {
    content: none;
    padding: 0 10px;
}

/* .main {

}     */

.footer {
    position: absolute;
    bottom: 0;
    background-color: #979797;
    width: 100%;
    height: 60px;
    margin: 0;
}

.copyright {
    padding: 0;
    margin: 0;
    width: 300px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.li-explanation {
    font-size: 0.9rem;
}

@media screen and (max-width: 480px) {
    .wrapper {
        margin: 80px 0% 60px 0%;
    }
}